@import '../../styles/Branding.scss';

.form {
	padding: 15px;
}

.button {
	margin-top: 15px;
	padding: 15px;
	width: 200px;
}

.loader {
	padding: 15px;
}

.select {
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	font-size: 16px;
	height: 34px;
	line-height: 1;
	padding: 5px 25px;
	width: 200px;
}

.fileInput {
	border: 1px solid #ddd;
	margin: 15px 0;
	padding: 15px;
}

.modalButtonContainer {
	display: flex;
	justify-content: center;
}

.messageError, .messageSuccess {
	padding: 15px;
}

.messageError {
	color: red;
}

.messageSuccess {
	color: green;
}

.modalButtonBlue, .modalButtonRed {
	width: 100px;
	height: 40px;
	padding: 0;

	&:focus {
		outline: 0
	}
}
  
.modalButtonBlue { 
	background-color: $color-primary;
	margin-right: 10px;
  
	&:hover {
	  background-color: $color-primary-hover;
	}
}

.link {
  &:hover {
    text-decoration: none;
  }
}