@import '../../styles/Branding.scss';

table, tbody {
	width: 100%;
}

td {
	padding: 20px 15px;
}

th {
	text-align: left;
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.actionBtn {
	margin: 0 0 0 auto;
	&:focus {
	  outline: none;
	}
  }

.form {
	padding: 15px;
}

.button {
	margin-top: 15px;
	padding: 15px;
	width: 200px;
}

.document {
	padding: 20px 15px;
}

.document:nth-child(even) {
    background: #f1f1f1;
}

.errorMessage {
	color: red;
	padding: 15px;
	font-size: 1rem;
}

.flexContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loader {
	padding: 15px;
}

.modalButtonBlue, .modalButtonRed {
	width: 100px;
	height: 40px;
	padding: 0;

	&:focus {
		outline: 0
	}
}
  
.modalButtonBlue { 
	background-color: $color-primary;
	margin-right: 10px;
  
	&:hover {
	  background-color: $color-primary-hover;
	}
}
  
.modalButtonRed { 
	background-color: red;
	margin-left: 10px;
  
	&:hover {
	  background-color: orangered;
	}
}
  
.modalButtonContainer {
	display: flex;
	justify-content: center;
}
  
.modalMessage { 
	text-align: center;
	margin-bottom: 15px;
}
  
.modalMessage span { 
	color: $color-primary
}

.select {
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	font-size: 16px;
	height: 34px;
	line-height: 1;
	padding: 5px 25px;
	width: 200px;
}

.sortTitle {
	font-size: 1.1rem;
	margin-top: 0;
	margin-bottom: 0;
}

.fileInput {
	border: 1px solid #ddd;
	margin: 15px 0;
	padding: 15px;
}

.response {
	padding: 15px;
}

.sortIcon {
	padding: 0 15px;
  }
