@import '../../styles/Branding.scss';

.form {
	padding: 15px;
}

.button {
	margin-top: 15px;
	padding: 15px;
	width: 200px;
}

.document {
	padding: 20px 15px;
}

.document:nth-child(even) {
    background: #f1f1f1;
}

.select {
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	font-size: 16px;
	height: 34px;
	line-height: 1;
	padding: 5px 25px;
	width: 200px;
}

.fileInput {
	border: 1px solid #ddd;
	margin: 15px 0;
	padding: 15px;
}

.response {
	padding: 15px;
}
