@import '../../styles/Branding.scss';

.container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.table {
  table-layout: fixed;
  width: 100%;

  td > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    text-align: left;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin: 15px 0 0 0;
}

.actionBtn {
  margin: 0 0 0 10px;
}

.na {
  color: $gray;
  font-style: italic;
}

.group {
  align-items: center;
  border-top: 1px #EEE solid;
  display: flex;
  padding: 15px;
}

.groupActions {
  text-align: right;
}

.groupAvatar {
  border-radius: 50%;
  overflow: hidden;
}

.groupEnabled {
  margin: 24px 0 0 24px;
  position: absolute;
  z-index: 9999;
}

.groupInfo {
  flex-grow: 1;
}
.groupName {
  flex-grow: 1;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupType {
  padding-right: 20px;
  position: relative;
}

.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 900;
}

.subheader { 
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.text { 
  text-align: center;
  color: black;
}

.text p { 
  margin-top: 5px;
  text-decoration: underline;
  
  &:hover {
    color: $color-primary;
  }
}
