@import '../../styles/Branding.scss';

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: inherit;
  width: 100%;
}
